* {
  font-family: "Roboto", sans-serif;
}

/* start color */
.bg-color-main {
  background-color: #36384e;
}
/* end color */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-checkmark {
  padding-left: 0;
}
.container-checkmark li {
  margin-bottom: 1rem;
}
.checkmark {
  display: flex;
  position: relative;
}
.checkmark p {
  top: 0;
}
.checkmark::before {
  content: url("/assets/images/icon-list.svg");
  margin-right: 0.5rem;
}

.input_email:invalid {
  /* outline: 1px solid red; */
}

.btn-main {
  text-align: center;
  background-size: 200% auto;
  /* text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
  /* box-shadow: 0 0 20px #000000; */
  /* background-image: linear-gradient(
    to right,
    #f6d365 0%,
    #fda085 51%,
    #f6d365 100%
  ); */
  background-color: #36384e;
  border: none;
  color: white;
}
.btn-main:hover {
  transition: 1s;

  background-image: linear-gradient(
    to right,
    #fe8f6e 0%,
    #fd5179 51%,
    #fe8f6e 100%
  );
  box-shadow: 0px 10px 20px #ff9ab2;
  background-position: right center;
}

.image_mobile {
  display: none;
}
.btn_mobile{
  display: none;
}

@media (max-width: 640px) {
  .bg-color-main {
    background-color: white;
  }
  .flex_col_reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .image_desktop {
    display: none;
  }
  .image_mobile {
    display: block;
  }
  .btn_desktop {
    display: none;
  }
  .btn_mobile{
    display: block;
  }
}
